In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
os.chdir('../')
os.getcwd()

'c:\\Users\\samsung\\Documents\\workspace'

In [4]:
os.listdir()

['data_description.txt',
 'Housing.csv',
 'phone_data.csv',
 'sample_submission.csv',
 'test.csv',
 'test.ipynb',
 'train.csv']

In [30]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep = '\s+', header = None)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\samsung\AppData\Local\Temp\ipykernel_25752\2137632369.py:2: SyntaxWarning: invalid escape sequence '\s'
  df_data = pd.read_csv(data_url, sep = '\s+', header = None)

In [31]:
df_data.columns = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','RTRATIO','B','LSTAT','MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,RTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [32]:
df_data['weight_0'] = 1
del df_data['MEDV']
#df_data = df_data.drop('MEDV', axis = 1)
df_data.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,RTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296.0,15.3,396.9,4.98,1

In [33]:
df_matrix = df_data.values #매트릭스 데이터로 변환
type(df_matrix)

numpy.ndarray

In [40]:
df_data.groupby('RAD').get_group(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,RTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.5380,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
193,0.02187,60.0,2.93,0,0.4010,6.800,9.9,6.2196,1,265.0,15.6,393.37,5.03,1
194,0.01439,60.0,2.93,0,0.4010,6.604,18.8,6.2196,1,265.0,15.6,376.70,4.38,1
254,0.04819,80.0,3.64,0,0.3920,6.108,32.0,9.2203,1,315.0,16.4,392.89,6.57,1
255,0.03548,80.0,3.64,0,0.3920,5.876,19.1,9.2203,1,315.0,16.4,395.18,9.25,1
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198.0,13.6,395.52,3.16,1
284,0.00906,90.0,2.97,0,0.4000,7.088,20.8,7.3073,1,285.0,15.3,394.72,7.85,1
285,0.01096,55.0,2.25,0,0.3890,6.453,31.9,7.3073,1,300.0,15.3,394.72,8.23,1
286,0.01965,80.0,1.76,0,0.3850,6.230,31.5,9.0892,1,241.0,18.2,341.60,12.93,1
331,0.05023,35.0,6.06,0,0.4379,5.706,28.4,6.6407,1,304.0,16.9,394.02,12.43,1
332,0.03466,35.0,6.06,0,0.4379,6.031,23.3,6.6407,1,304.0,16.9,362.25,7.83,1
341,0.01301,35.0,1.52,0,0.4420,7.241,49.3,7.0379,1,284.0,15.5,394.74,5.49,1
342,0.02498,0.0,1.89,0,0.5180,6.540,59.7,6.2669,1,422.0,15.9,389.96,8.65,1
349,0.02899,40.0,1.25,0,0.4290,6.939,34.5,8.7921,1,335.0,19.7,389.85,5.89,1
350,0.06211,40.0,1.25,0,0.4290,6.490,44.4,8.7921,1,335.0,19.7,396.90,5.98,1
501,0.06263,0.0,11.93,0,0.5730,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,1
502,0.04527,0.0,11.93,0,0.5730,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,1
503,0.06076,0.0,11.93,0,0.5730,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,1
504,0.10959,0.0,11.93,0,0.5730,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,1
505,0.04741,0.0,11.93,0,0.5730,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,1