In [1]:
import pandas as pd
import numpy as np
import os

In [32]:
file_path = "C:\\Users\\samsung\\Documents\\workspace\\dataset\\gwangju_eco.txt"
#보통 CP949
df = pd.read_csv(file_path, delimiter='\t', encoding='cp949'
                 ,header=None #헤더가 없다.
                 ,index_col=0)
df = df.T
df.columns = ["월별", "지표명", "값"]
df["월별"] = pd.to_datetime(df['월별'], format='%Y. %m')
df['월별'] = df['월별'].dt.strftime('%Y-%m')
df['월별'] = df['월별'].astype('datetime64[ns]')
df["값"]= df["값"].astype(float)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 1 to 180
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   월별      180 non-null    datetime64[ns]
 1   지표명     180 non-null    object
 2   값       180 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.6+ KB

In [37]:
DATA_DIR = 'bike_demand'
datalist = []
for filename in os.listdir('bike_demand')[::-1]:
    #print(filename)
    if filename in ['train.csv', 'test.csv']:
        filepath = os.path.join(DATA_DIR, filename)
        df = pd.read_csv(filepath)
        datalist.append(df)
    if filename in ['train.csv']:
        filepath = os.path.join(DATA_DIR, filename)
        train = pd.read_csv(filepath)
    if filename in ['test.csv']:
        filepath = os.path.join(DATA_DIR, filename)
        test = pd.read_csv(filepath)

In [43]:
pd.concat(datalist,axis=1).reset_index().head()

,index,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,...,count,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,...,16,2011-01-20 00:00:00,1.0,0.0,1.0,1.0,10.66,11.365,56.0,26.0027
1,1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,...,40,2011-01-20 01:00:00,1.0,0.0,1.0,1.0,10.66,13.635,56.0,0.0000
2,2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,...,32,2011-01-20 02:00:00,1.0,0.0,1.0,1.0,10.66,13.635,56.0,0.0000
3,3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,...,13,2011-01-20 03:00:00,1.0,0.0,1.0,1.0,10.66,12.880,56.0,11.0014
4,4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,...,1,2011-01-20 04:00:00,1.0,0.0,1.0,1.0,10.66,12.880,56.0,11.0014